upstream service {
    server pdf_n_1:8080;
    server pdf_n_2:8080;
    server pdf_n_3:8080;
}

server {
    listen 80;
    server_name _;

    location / {
        proxy_pass http://service$request_uri;
    }

    location /screenshot {
        proxy_pass http://pdf_n_3:8080$request_uri;
    }
}
