upstream service {
    server pdf_1:8080;
    server pdf_2:8080;
    server pdf_3:8080;
}

server {
    listen 80;
    server_name _;

    location / {
        proxy_pass http://service$request_uri;
    }
}
